
<div>
  <div class="phases_box_parent">
    <div class="phases_box" *ngFor="let phase of phases">
      <div class="phases_box_header">
        <div class="phases_box_header_info">
          <h3 style="font-size: 18px;font-weight: 500;">{{ phase.nom }}</h3>
          <div class="phases_box_general_info"><p>Commence le<p style="    margin: -8px 0;">26/05/2023</p></div>
        </div>
        <div class="phases_box_header_stats">
          <img src="../../../assets/img/pie-graph.png">
        </div>
      </div>

      <div>
        <ul>
          <li *ngFor="let tache of phase.taches">{{ tache.nomTache }}</li>
        </ul>
      </div>

    </div>
  </div>
</div>

