<!--<nav class="navbar navbar-expand-lg bg-body-tertiary" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link </a>
        </li>
        <li *ngIf="authenticated">
          <a class="nav-link">{{ firstName }} {{ lastName }}</a>
        </li>
        <li *ngIf="authenticated">
          <button (click)="logout()">Logout</button>
        </li>
        <li *ngIf="!authenticated">
          <a class="nav-link" (click)="login">Login</a>
        </li>




          <ng-template><li><a class="dropdown-item" href="#" >Login</a></li></ng-template>



      </ul>



    </div>
  </div>
</nav>
-->
<nav class="navbar navbar-expand-sm navbar-light">

  <div class="container-fluid ">
  <a class="navbar-brand " href="#">Acceuil</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">

    <li class="nav-item notif_parent">
      <a class="nav-link active" aria-current="page" href="#"><mat-icon class="notifications_navbar">notifications_none</mat-icon></a>
    </li>
    <!--
    <li class="nav-item">
      <a class="nav-link" href="#">About us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Project</a>
    </li>
    -->
    <div class="profile_part" style="margin-left: 50px;">
    <li *ngIf="authenticated" style="margin-right: -20px;">
      <img src="../../../assets/img/user.png" style="width: 50%;">
    </li>
    <li *ngIf="authenticated">
      <a class="nav-link">{{ firstName }}</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" >
      </a>
      <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
        <li>
          <a *ngIf="authenticated" class="dropdown-item" (click)="logout()">
            Logout
          </a>
        </li>


      </ul>
      </li>


      </div>

    </ul>
  </div>
  </div>
</nav>

