<div class="task_box">
  <div style="border-bottom: 1px solid #3333331f;"><h3 class="task_titre">Mes Taches</h3></div>
  <div class="task_add_icon">
    <a routerLink="/add">
      <span>
        <img src="../../assets/img/add-button.png" style="max-width: 8%; margin: 0 10px;">
      </span>
      Créer une tache
    </a>
  </div>
  <ul class="list_of_task"> 
    <div *ngFor="let Tache of Taches ">
    <li>
      <div *ngIf="Tache.situation === 'EnCours'">
        <span>
          <mat-icon class="check_task" (click)="updateTaskStatus(Tache.idTache)">check_circle_outline</mat-icon>
        </span>
        <span [routerLink]="''" class="task_title">{{ Tache.nomTache }}</span>
      </div>
    </li>
  </div>
  </ul>
</div>
