<div class="task-list">
    <h2>Task List</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Task Name</th>
          <th>Status</th>
          <th>Difficulty</th>
          <th>Assigned To</th>
          <th>Phase</th>


          <!-- Add more columns as needed -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{ task.nomTache }}</td>
          <td [ngClass]="{'text-success': task.status === 'completed', 'text-danger': task.status === 'pending'}">
            {{ task.status }}
          </td>
          <td [ngClass]="getDifficultyClass(task.nivTache)">{{ task.nivTache }}</td>
          <td>{{task.user?.first_name }}</td>

          <!-- Display other task details as needed -->
        </tr> 
        <button class="btn btn-danger"></button>
      </tbody>
    </table>
  </div>
  