<div class="sidenav_principal">
  <div class="sidenav-nav">
    <ul>
      <li>
        <a>
          <mat-icon class="custom-icon">home</mat-icon>
          <span>Acceuil</span>
        </a>
      </li>
      <li>
        <a>
          <mat-icon class="custom-icon">check</mat-icon>
          <span>Mes taches</span>
        </a>
      </li>
      <li>
        <a>
          <mat-icon class="custom-icon">notifications</mat-icon>
          <span>Notifications</span>
        </a>
      </li>
      <li>
        <a>
          <mat-icon class="custom-icon">insert_chart</mat-icon>
          <span>rapport</span>
        </a>
      </li>
    </ul>

  </div>

</div>
